@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Open Sans", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gt-grey: #f0f0f0;
  --gt-light-grey: #cccccc;
  --gt-dark-grey: #5b5b5b;
  --gt-black: #282828;
  --gt-primary: #1c76d5;
  --gt-white: white;
  --gt-shadow: #e0e4e559;
  --gt-error: #f13b3b;
  --gt-link: #686868;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.flex_1 {
  flex: 1;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_column_left_start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page {
  padding-left: 160px;
  padding-right: 160px;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
